


/*reset*/
* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing:border-box; 
}
html, body, h1, h2, h3, h4, p, ol, ul, li, a {
    padding:0 ;
    border: 0;
    margin: 0;
    list-style-type: none;
    text-decoration:none;
}

 /*general settings */

html {
font-size: 16px; /*Set default*/
}

body {
font-size: 62.5%; /* 1em = 10px / 16px*/ 
}

.container {
    max-width: 1200px;
  margin: 0 auto;
}

/**********************************************
TYPOGRAPHY
***********************************************/

.h1  {
    
    font-family: 'Lato', sans-serif;
    font-weight:100;
    line-height:1em;
    font-size: calc(90px / 2);
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight:200;
    line-height:1.1em;
    color:dimgrey;
    font-size:2rem; 
}

.heading-h2 {
    font-size:calc(4.8em / 1.5); /*48px / 10px */
    font-family: 'Lato', sans-serif;
    font-weight:200;
    line-height:1.1em;
    color:dimgrey;
}

.client-section-quote {
    font-size:3.2em; /*32px /10px */
    line-height:2.5rem;
    font-family:'Lato-LightItalic', 'Lato Light Italic', 'Lato';
    font-weight:200;
    font-style: italic;
    color: #fff;
    
}

.client-section-author {
    font-size:1.8em; /*18px /10px */
    line-height:2rem;
    font-family:'Lato-LightItalic', 'Lato Light Italic', 'Lato';
    font-weight:200;
    font-style: italic;
    color: #fff;
    text-align:right;
}

.services-text {
    font-size:2.4em; /*24px / 10px */
    font-family: 'Lato', sans-serif;
    font-weight:200;
    line-height:1.5em;
}

.selected-projects-txt {
    font-size:2.8em; /*28px / 10px*/
    font-family: 'Lato', sans-serif;
    font-weight:200;
}

.footer-bar-txt {
    font-size:1.8em; /*18px /10px*/
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-weight:200;
}


/**********************************************
HEADER
***********************************************/
.headerbar {
height: 64px;
background-color: #666 ;
}
.headerbar .flex-container {
height: 64px;
    
}

/**************************************************
HERO(JUMBOTRON PAGE)
**************************************************/

.hero-page {
 background-color: #eeeeee;
 height: 400px;
 position:relative;
}

.hero-page.hand-photo {
    
    background: url('../img/newHome_handTest.jpg') no-repeat center / cover;
    }

.hero-page .container {
 height:400px;
}


.hero-headline-container {
    padding-top: 3.5rem;
    }


.hero-text {
    font-size:3.6em; /*36px / 10px */
    font-family: 'Lato', sans-serif;
    font-weight:200;
    line-height:1em;
    color:dimgray;
}

.hero-bottom-text {
position:absolute;
bottom: 5px;
left:0;
right:0;
}

.arrow {
max-width:9%;
margin-top:1em;
}

.product-design-bar {
background-color: #666;
    color:white;

}

.product-design-bar h2 {
color:white;
  
}

.product-design-bar-main {
padding-top:1rem;
    
}
.product-design-bar-sm-text {
    font-size:1.8em;
    font-family: 'Lato', sans-serif;
    font-weight:100;
    line-height:1em;
    padding: 1rem 0 1rem;
}

/*****************************************
PRODUCTION DESIGN SECTION
******************************************/
.pd-grid {
height:400px;
}

.pd-grid > div {
font-family: 'Lato', sans-serif;
    font-weight:200;
    line-height:1.1em;
    color:dimgrey;
    font-size:1.5rem;
}

.pd-bottom-bar {
    height: 32px;
    background-color:#666;
}

/*******************************************
CLIENT SECTION 
********************************************/

.client-section {
background-color:#cccccc;
}

.client-section-grid {
height: 400px;
background-color:#cccccc;
}

.client-section-bttm-bar {
 height: 32px;   
}

/*********************************************
SERVICES
**********************************************/
.services-section {
background-color:#f2f2f2;
}

/**********************************************
SELECTED-PROJECTS
***********************************************/
.selected-projects {
background-color:#cccccc;
}

.selected-projects-img {
height:256px;
width: 584px;
background-color:#e4e4e4;
}

/*********************************************
FOOTER BAR
*********************************************/
.footer-bar {
background-color: #666 ;
}

.footer-bar, .footer-bar .flex-container {
height:calc(144px /2 );
    
}

/*For flex-start , flex-end, flex center to work, one must have a minum height on the flex-container, if all items are same height 



/****************************************
MEDIA QUERIES
*****************************************/

  @media screen and (min-width: 34rem) {
     

        h2 {
        font-size: 3em 
          }
        .hero-page {
         height: 600px;
        }
    
    }
    
    
    @media screen and (min-width: 54rem) {
    
        
        .h1  {

        font-family: 'Lato', sans-serif;
        font-weight:100;
        line-height:1em;
        font-size: 90px;
        }     
        h2 {

         font-size: 3.6em;
        }

        .heading-h2 {
        font-size:4.8em; /*48px / 10px */
        }
        .arrow {
            max-width:100%;
            margin-top:2em;
        }
        .footer-bar, .footer-bar .flex-container {
        height:144px;
    
}
    
    }
    
    @media screen and (min-width: 70rem) {
       
    
        h2 {
        font-size: 3.6em;
        }
        .hero-page {
         height: 800px;

         }



        .product-design-bar {    
        padding: 1em 0 1em;
        }

        .product-design-bar-main {
        padding-top:0em;
        }
        .product-design-bar-sm-text {
        font-size: 1.6em;
        font-weight:100;
        padding: .75rem 0 .75rem;

        }
    
    
    }


    


